Repository bottodavide/AISH.EU: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 5%

  ignore:
    - "backend/tests/**/*"
    - "backend/migrations/**/*"
    - "backend/venv/**/*"
    - "backend/**/__pycache__/**/*"
    - "frontend/node_modules/**/*"
    - "frontend/.next/**/*"
    - "frontend/out/**/*"

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

flags:
  backend:
    paths:
      - backend/app/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

fix(ci): Fix .env.test parsing and add security-events permission
  .github/workflows/test.yml
Due: none

fix(ci): Add missing SECRET_KEY and use development environment
  .github/workflows/test.yml
Due: none

fix(ci): Skip Alembic migrations in CI, use conftest database setup
  .github/workflows/test.yml
Due: none

fix: Update PyPDF2 import to pypdf (new package name)
  backend/app/api/routes/knowledge_base.py
Due: backend

docs: Add CI/CD issues log with solutions and lessons learned
  docs/CI_ISSUES_LOG.md
Due: none

fix(ci): Skip file logging in CI to avoid permission errors
  backend/app/core/logging_config.py
Due: backend

fix(ci): Remove coverage threshold temporarily for initial CI success
  .github/workflows/test.yml
Due: none

fix(ci): Fix database name duplication in tests
  .github/workflows/test.yml
Due: none

fix(tests): Add robust database cleanup in test_engine fixture
  backend/conftest.py
Due: none

fix(tests): Use DROP SCHEMA CASCADE for robust database cleanup
  backend/conftest.py
Due: none

fix(tests): Use explicit commits for schema drop/recreate
  backend/conftest.py
Due: none

fix(tests): Use raw asyncpg for schema reset to avoid transaction issues
  backend/conftest.py
Due: none

fix(tests): Recreate engine after schema drop to clear connection cache
  backend/conftest.py
Due: none

fix(tests): Use unique database name per test run to guarantee isolation
  backend/conftest.py
Due: none

fix(tests): Ignore DuplicateTableError during schema creation
  backend/conftest.py
Due: none

fix(ci): Align deploy.yml with existing GitHub secrets
  .github/workflows/deploy.yml
Due: none

fix(tests): Correct MS Graph mock path for email service
  backend/conftest.py
Due: none

fix(tests): Correct registration request payload schema
  backend/tests/test_auth.py
Due: none

fix(tests): Use AsyncClient for async test functions
  backend/tests/test_auth.py
Due: none

feat(deployment): Add production Docker Compose setup with separate services
  .env.prod.example
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  backend/Dockerfile
  docker-compose.prod.yml
  docs/CICD_SETUP_NEXT_STEPS.md
  frontend/Dockerfile
  nginx/Dockerfile
  nginx/nginx.prod.conf
Due: none

docs: Add comprehensive Linode verification checklist
  LINODE_VERIFICATION.md
Due: none

fix(frontend): Add missing dependencies and components for production build
  frontend/Dockerfile
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Footer.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/card.tsx
Due: frontend

docs(test): Add comprehensive test coverage report and security fixes
  SESSION_SUMMARY_2026-01-18.md
  TEST_COVERAGE_REPORT.md
  frontend/src/app/admin/layout.tsx
  frontend/src/contexts/AuthContext.tsx
Due: frontend

docs(deploy): Add deployment action plan for Linode
  DEPLOYMENT_ACTION_PLAN.md
  SITUAZIONE_ATTUALE.md
Due: none

fix(frontend): Wrap useSearchParams in Suspense boundary
  frontend/src/app/error/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/password-reset/page.tsx
  frontend/src/app/verify-email/page.tsx
Due: frontend

chore: regenerate package-lock.json after cache clear
  frontend/package-lock.json
Due: none

feat: Upgrade frontend dependencies to latest stable versions
  frontend/.eslintrc.json
  frontend/UPGRADE_2026-01-18.md
  frontend/eslint.config.mjs
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/tsconfig.json
Due: none

fix: Add missing frontend lib files (cookies, utils) ignored by gitignore
  frontend/src/lib/cookies.ts
  frontend/src/lib/utils.ts
Due: frontend

fix: Update gitignore to not ignore frontend/src/lib
  .gitignore
Due: none

fix: Add --legacy-peer-deps to Docker npm ci for React 19 compatibility
  frontend/Dockerfile
Due: none

fix(docker): Optimize resource limits and use relative volume paths
  docker-compose.prod.yml
Due: none

Remove COPY conf.d from nginx Dockerfile
  nginx/Dockerfile
Due: none

fix: use valid locale for pgvector postgres initdb
  docker-compose.prod.yml
Due: none

fix: normalize CORS_ORIGINS for backend
  docker-compose.prod.yml
Due: none

fix(backend): make CORS_ORIGINS parsing robust to env format
  backend/app/core/config.py
Due: backend

fix(backend): ignore CORS_ORIGINS env and use safe default
  backend/app/core/config.py
Due: backend

fix(backend): stop reading CORS_ORIGINS from env
  backend/app/core/config.py
Due: backend

chore(backend): remove CORS_ORIGINS env from prod compose
  docker-compose.prod.yml
Due: none

fix(backend): use only model_config (remove legacy Config) for Pydantic 2
  backend/app/core/config.py
Due: backend
